<?xml version='1.0' encoding='utf-8'?>
<widget id="in.yshl.sermon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SerMon</name>
    <description>
        A simple, elegant, open-sourced, cross-platform service monitor app based on cordova.
    </description>
    <author email="yshlin@gmail.com" href="http://yshl.in">
        yshlin
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
