/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* LESS mixins */
/* Default and shared styles */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #484848;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.app:after {
  content: " ";
  clear: both;
  display: block;
  width: 100%;
  height: 48px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 10px;
}
a {
  color: #484848;
  text-decoration: none;
}
a span {
  color: #484848;
  text-decoration: none;
}
.button {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  height: 48px;
  vertical-align: middle;
  background-color: #BBBBBB;
  line-height: 48px;
  padding: 0 12px;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button span {
  color: #FFFFFF;
}
.button.green {
  background-color: #88CC88;
}
.button.red {
  background-color: #FF8888;
}
.button:active {
  background-color: #999999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button:active.green {
  background-color: #66AA66;
}
.button:active.red {
  background-color: #DD6666;
}
#actions {
  display: block;
  text-align: center;
  padding: 24px 0;
}
span.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.indicator.green {
  background-color: #00CC00;
}
span.indicator.red {
  background-color: #FF0000;
}
span.indicator.gray {
  background-color: #CCCCCC;
}
.loadingKeyframes 0% {
  background: rgba(144, 144, 144, 0.5);
}
.loadingKeyframes 50% {
  background: rgba(0, 0, 0, 0.5);
}
.loadingKeyframes 100% {
  background: rgba(144, 144, 144, 0.5);
}
@keyframes loading {
  0% {
    background: rgba(144, 144, 144, 0.5);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(144, 144, 144, 0.5);
  }
}
@-moz-keyframes loading {
  0% {
    background: rgba(144, 144, 144, 0.5);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(144, 144, 144, 0.5);
  }
}
@-webkit-keyframes loading {
  0% {
    background: rgba(144, 144, 144, 0.5);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(144, 144, 144, 0.5);
  }
}
@-o-keyframes loading {
  0% {
    background: rgba(144, 144, 144, 0.5);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(144, 144, 144, 0.5);
  }
}
@-ms-keyframes loading {
  0% {
    background: rgba(144, 144, 144, 0.5);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(144, 144, 144, 0.5);
  }
}
#loading-indicator {
  position: absolute;
  margin: auto;
  top: 45%;
  left: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#loading-indicator.show {
  opacity: 1;
}
#loading-indicator > div {
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border-radius: 5px;
  background: rgba(144, 144, 144, 0.5);
  -moz-animation: loading 0.8s infinite;
  -webkit-animation: loading 0.8s infinite;
  -o-animation: loading 0.8s infinite;
  -ms-animation: loading 0.8s infinite;
  animation: loading 0.8s infinite;
}
#loading-indicator > div:nth-child(1) {
  top: 0px;
  left: 10px;
}
#loading-indicator > div:nth-child(2) {
  top: 3px;
  left: 3px;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#loading-indicator > div:nth-child(3) {
  top: 10px;
  left: 0px;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#loading-indicator > div:nth-child(4) {
  bottom: 3px;
  left: 3px;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#loading-indicator > div:nth-child(5) {
  bottom: 0px;
  left: 10px;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#loading-indicator > div:nth-child(6) {
  bottom: 3px;
  right: 3px;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#loading-indicator > div:nth-child(7) {
  top: 10px;
  right: 0px;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#loading-indicator > div:nth-child(8) {
  top: 3px;
  right: 3px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#tooltip {
  opacity: 0;
  text-align: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 100;
  padding: 15px;
  pointer-events: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#tooltip.top {
  margin-top: 20px;
}
#tooltip.show {
  opacity: 1;
  margin-top: 10px;
  pointer-events: all;
}
#tooltip.show.top {
  margin-top: 10px;
}
#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}
#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.6);
  top: -20px;
  bottom: auto;
}
#tooltip.left:after {
  left: 10px;
  margin: 0;
}
#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}
#tooltip .indicator {
  margin-right: 8px;
}
#services {
  margin: 0;
  padding: 0;
}
#services .service {
  display: block;
  height: 60px;
  border-bottom: 1px solid #CCCCCC;
  list-style-type: none;
}
#services .service .service-link {
  position: relative;
  display: block;
  height: 100%;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
}
#services .service .service-link:active {
  background-color: #bbbbbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#dddddd));
  background: -webkit-linear-gradient(top, #bbbbbb, #dddddd);
  background: -moz-linear-gradient(top, #bbbbbb, #dddddd);
  background: -ms-linear-gradient(top, #bbbbbb, #dddddd);
  background: -o-linear-gradient(top, #bbbbbb, #dddddd);
}
#services .service .service-url {
  display: block;
  padding-left: 36px;
  overflow: hidden;
  height: 100%;
  vertical-align: middle;
  line-height: 60px;
  font-size: 15px;
}
#services .service .indicator {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  margin: 25px 13px;
  vertical-align: middle;
}
#services .service .last-check {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  height: 27px;
  vertical-align: middle;
  line-height: 27px;
  padding-right: 10px;
  color: #BBBBBB;
  font-size: 11px;
}
#popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
#popup iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#popup.show {
  display: block;
}
