@import "base";

#service-status {
	display: block;
	border-top: 1px solid #CCCCCC;
	.entry {
		display: block;
		border-bottom: 1px solid #CCCCCC;
		padding: 10px;

		.label {
			display: block;
			height: 24px;
			line-height: 24px;
			vertical-align: middle;
			font-weight: bolder;
		}
		.value {
			display: block;
			height: 24px;
			line-height: 24px;
			vertical-align: middle;
			.indicator {
				margin-right: 10px;
			}
		}
	}
}

#actions {
	display: block;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 10px;

	.label {
		display: block;
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
		font-weight: bolder;
		text-align: left;
	}
}

#log-heading {
	position: relative;
	h2 {
		padding-top: 12px;
	}
	#clear-logs {
		position: absolute;
		top: 0;
		right: 10px;
	}
}

#monitor-logs {
    display: block;
    margin: 0;
    padding: 0;
    .log {
    	display: inline-block;
    	list-style-type: none;
    	padding: 10px;
    }
    .index {
    	display: inline-block;
    	list-style-type: none;
    	width: 30px;
    	height: 30px;
    	text-align: center;
    	vertical-align: middle;
    	border: 1px solid #CCCCCC;
    	.border-radius;
	    .box-shadow;
    	font-size: 9px;
    	> span {
    		display: block;
    		margin-top: 3px;
    		padding: 0 2px;
    		> span {
	    		display: block;
	    		border-bottom: 1px solid #CCCCCC;
    		}
    	}
    }
}