/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* LESS mixins */
/* Default and shared styles */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #484848;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 10px;
}
a {
  color: #484848;
  text-decoration: none;
}
a span {
  color: #484848;
  text-decoration: none;
}
.button {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 48px;
  vertical-align: middle;
  background-color: #BBBBBB;
  line-height: 48px;
  padding: 0 12px;
  color: #FFFFFF;
}
.button span {
  color: #FFFFFF;
}
.button.green {
  background-color: #88CC88;
}
.button.red {
  background-color: #FF8888;
}
#actions {
  display: block;
  text-align: center;
  padding: 24px 0;
}
span.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.indicator.green {
  background-color: #00CC00;
}
span.indicator.red {
  background-color: #FF0000;
}
span.indicator.gray {
  background-color: #CCCCCC;
}
#service-status {
  display: block;
  border-top: 1px solid #CCCCCC;
}
#service-status .entry {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
}
#service-status .entry .label {
  display: block;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bolder;
}
#service-status .entry .value {
  display: block;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
#service-status .entry .value .indicator {
  margin-right: 10px;
}
#actions {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  padding-left: 10px;
}
#actions .label {
  display: block;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bolder;
  text-align: left;
}
#monitor-logs {
  display: block;
  margin: 0;
  padding: 0;
}
#monitor-logs .log {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
